*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


.header{
    width: 100%;
    display: flex;
    justify-content: space-around;
    height: 96px;
    align-items: center;
}

.header a{
       text-decoration: none;
        color: black;
}